.alert{
    color:red;
    margin-bottom: 5%;
}

.link{
    color:rgb(74, 74, 236);
    font-style: normal;
    cursor: pointer;
}

.link:hover{
    font-size: larger;
}

.mleft{
    margin-left: 10%;
}

.card-3d {
    background-color: lightgray;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-style: preserve-3d;
    perspective: 1000px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.card-3d:hover {
    transform: rotateY(10deg) rotateX(5deg) translateZ(10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    background: linear-gradient(145deg, #f0f0f0, #ffffff);
}


.text-red{
    color:red;
}

.placeholder-custom::placeholder {
    color: black; /* Change to your desired color */
  }
  
  .custom-modal-body {
    max-height: 63vh;
    overflow-y: auto;
    display: flex;
    background-color: #dedede;
    justify-content: center; /* Horizontally center */
  }
  
  .pdf-container {
    width: 100%;
    max-width: 90%; /* Adjust the width based on your preference */
    height: auto;
    padding: 5%;
    margin-bottom: 2%;
    display: block; /* Ensure content starts from the top */
    margin-top: 0; /* No additional vertical centering */
  }

  element.style {
    display: block;
    user-select: none;
    margin-bottom: 1%;
}